{% extends 'base_gerencia.html' %}

{% block main %}

     <!-- Page Heading -->
     <h1 class="h3 mb-2 text-gray-800">Gerenciar Categorias</h1>
     <p class="mb-4">Aqui você pode editar ou remover as categorias existentes.</p>

     <!-- Filtro de Notícias -->
     <div class="card shadow mb-4">
         <div class="card-header py-3">
             <h6 class="m-0 font-weight-bold text-primary">Filtrar Categorias</h6>
         </div>
        <form action="{% url 'gerencia:categoria_listar' %}" method="GET">
         <div class="container-search">
            <input type="text" name="termo" class="form-control input-search" placeholder="Buscar categoria">
            <button type="submit">Buscar</button>
         </div>
         </form>
     </div>

     <!-- Notícias Table -->
     <div class="card shadow mb-4">
         <div class="card-header py-3">
             <h6 class="m-0 font-weight-bold text-primary">Listagem de Categorias</h6>
         </div>
         <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                     <thead>
                         <tr>
                             <th style="width: 20%;">Nome</th>
                             <th style="width: 10%;">Ações</th>
                         </tr>
                     </thead>
                     <tbody>
                         {% for categoria in categorias %}
                         <tr>
                             <td>{{ categoria.nome }}</td>
                             <td>
                                 <a href="{% url 'gerencia:categoria_editar' categoria.id %}" class="btn btn-warning btn-sm">Editar</a>
                                 <form action="{% url 'gerencia:categoria_remover' categoria.id %}" method="POST" style="display:inline;">
                                     {% csrf_token %}
                                     <button type="submit" class="btn btn-danger btn-sm">Remover</button>
                                 </form>
                             </td>
                         </tr>
                         {% endfor %}
                     </tbody>
                 </table>
             </div>
         </div>
     </div>

     <div class="d-flex justify-content-end">
        <a href="{% url 'gerencia:categoria_cadastrar'%}" class="btn btn-primary btn-icon-split">
            <span class="icon text-white-50">
                <i class="fas fa-flag"></i>
            </span>
            <span class="text">Cadastrar Nova Categoria</span>
        </a>
    </div>

{% endblock %}
